# NestJS (backend)
/backend/dist
/backend/node_modules
/backend/build
/backend/tmp

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# dotenv environment variable files
/backend/.env
/backend/.env.development
/backend/.env.test
/backend/.env.production

# temp directory
/backend/.temp
/backend/.tmp
